<template>
  <p-page class="bg-grey-3 column">
    <p-list
      class="bg-white"
      seperator
      bordered>
        <q-item
          v-for="(task, index) in tasks"
          :key="task.title"
          @click="task.done =!task.done"
          :class="{ 'done bg-blue-1' : task.done }"
         clickable
         v-ripple>
        <q-item-section avatar>
            <q-checkbox
              v-model="task.done"
              class="no-pointer-events"
              color="primary" />
        </q-item-section>
        <q-item-section>
            <q-item-label> {{ task.title }} </q-item-label>
        </q-item-section>
        <q-item-section
          v-if="task.done"
          side>
          <q-btn
            @click.stop="deleteTask(index)"
            flat
            round
            dense
            color="primary"
            icon="delete"/>
        </q-item-section>
        </q-item>
    </p-list>


     <q-btn push color="primary" round icon="add" @click="add = true"/>

<q-dialog v-model="add">
      <q-card>
        <q-card-section>
          <div class="text-h6">Neue Deadline hinzufügen:</div>
        </q-card-section>

        <q-separator />

        

        <q-separator />

        <q-card-actions align="right">
          <q-btn flat label="Bestätigen" color="primary" v-close-popup />
          <q-btn flat label="Abbrechen" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>

      </p-page>
</template>

<script>

import { ref } from 'vue'

export default {
  data() {
    return {
      tasks: [
        {
          title: 'My name is Georg',
          done: false
        },
        {
          title: 'Judith ist cool',
          done: true
        }

      ],

      add: ref(false)
      
    }
  },
  methods: {
    deleteTask(index) {
      this.$q.dialog({
        title: 'Confirm',
        message: 'Deadline wirklich löschen?',
        cancel: true,
        persistent: true
      }).onOk(() => {
         this.tasks.splice(index, 1)
         this.$q.notify('Deadline gelöscht')
      })
      }

  
  
    }
  
  };
</script>

