<template>
  <div class="row">
    <div class="col-3">
      <h6>Todo ✍</h6>
       <q-input 
            filled
            @keyup.enter="addTask1"
            v-model="newTask1"
            square 
            placeholder="Add task" 
            dense
          >
        <template v-slot:append>
          <q-btn @click="addTask1" round dense flat icon="add" />
        </template>
        </q-input>
      <draggable
        class="list-group"
        :list="list1"
        group="people"
        @change="log"
        itemKey="name"
      >
         <template #item="{ }">
          <div class="list-group-item" >{{  }}
            <q-item
            v-for="item in list1"
            :key="item.name"
            clickable
            v-ripple>
            <q-item-section>
              <q-item-label>{{item.name}}</q-item-label>
            </q-item-section>
           <q-item-section side>
          <q-btn
            @click.stop="deleteTask1" flat round dense color = "primary"
            icon="delete"
          />
        </q-item-section>
          </q-item>
          </div>
        </template>
      </draggable>
    </div>

    <div class="col-3">
      <h6>In Progress 🗓</h6>
      <q-input 
            filled
            @keyup.enter="addTask2"
            v-model="newTask2"
            square 
            placeholder="Add task" 
            dense
          >
           <template v-slot:append>
          <q-btn @click="addTask2" round dense flat icon="add" />
        </template>
        </q-input>
      <draggable
        class="list-group"
        :list="list2"
        group="people"
        @change="log"
        itemKey="name"
      >
          <template #item="{ }">
          <div class="list-group-item" >{{  }}
            <q-item
            v-for="item in list2"
            :key="item.name"
            clickable
            v-ripple>
            <q-item-section>
              <q-item-label>{{item.name}}</q-item-label>
            </q-item-section>
           <q-item-section side>
          <q-btn
            @click.stop="deleteTask2" flat round dense color = "primary"
            icon="delete"
          />
        </q-item-section>
          </q-item>
          </div>
        </template>
      </draggable>
    </div>

    <div class="col-3">
      <h6>Done ✅</h6>
      <q-input 
            filled
            @keyup.enter="addTask3"
            v-model="newTask3"
            square 
            placeholder="Add task" 
            dense
          >
           <template v-slot:append>
          <q-btn @click="addTask3" round dense flat icon="add" />
        </template>
        </q-input>
      <draggable
        class="list-group"
        :list="list3"
        group="people"
        @change="log"
        itemKey="name"
      >
        <template #item="{ }">
          <div class="list-group-item" >{{  }}
            <q-item
            v-for="item in list3"
            :key="item.name"
            clickable
            v-ripple>
            <q-item-section>
              <q-item-label>{{item.name}}</q-item-label>
            </q-item-section>
           <q-item-section side>
          <q-btn
            @click.stop="deleteTask3" flat round dense color = "primary"
            icon="delete"
          />
        </q-item-section>
          </q-item>
          </div>
        </template>
      </draggable>
    </div>

    <rawDisplayer class="col-3" :value="list1" title="List 1" />

    <rawDisplayer class="col-3" :value="list2" title="List 2" />

     <rawDisplayer class="col-3" :value="list3" title="List 3" />
  </div>
</template>
<script>
import draggable from "vuedraggable";
export default {
  components: {
    draggable
  },
  data() {
    return {
      newTask1: null,
      newTask2: null,
      newTask3: null,
      list1: [ ],
      list2: [],
      list3: []
    }
  },
  methods: {
    deleteTask1(index){
      this.$q.dialog({
        name:'Confirm',
        message: 'Really delete',
        cancel: true,
        persitent: true
      }). onOk(()=>{
        this.list1.splice(index,1)
        this.$q.notify('Task deleted')
      })
      
    },  
    deleteTask2(index){
      this.$q.dialog({
        name:'Confirm',
        message: 'Really delete',
        cancel: true,
        persitent: true
      }). onOk(()=>{
        this.list2.splice(index,1)
        this.$q.notify('Task deleted')
      })
      
    },
    deleteTask3(index){
      this.$q.dialog({
        name:'Confirm',
        message: 'Really delete',
        cancel: true,
        persitent: true
      }). onOk(()=>{
        this.list3.splice(index,1)
        this.$q.notify('Task deleted')
      })
      
    },
    addTask1(){
      this.list1.push({
      name: this.newTask1

    }),this.newTask1=''},
      addTask2(){
      this.list2.push({
      name: this.newTask2

    }),
    this.newTask2=''
    }, 
      addTask3(){
      this.list3.push({
      name: this.newTask3

    }),
    this.newTask3=''
    },

    log: function(evt) {
      window.console.log(evt);
    }
  }
};
</script>
<style lang="sass" scoped>
.row > div
  padding: 10px 25px 
  background: rgba(86,61,124,.15)
  border: 1px solid rgba(86,61,124,.2)
.row + .row
  margin-top: 1rem
</style>