
<template>
    <q-layout>
      <q-header elevated class="primary">
        <q-toolbar>
          <q-btn flat @click="drawer = !drawer" round dense icon="menu" />
          <q-toolbar-title>Productive App</q-toolbar-title>
          <div>{{ todaysDate }}</div>
        </q-toolbar>
      </q-header>

  <q-page-container>
    <keep-alive>
      <router-view />
    </keep-alive>
  </q-page-container>

  </q-layout>
</template>

<script>

import { date } from 'quasar'
import { ref } from 'vue'

export default {
  name: 'MyLayout',

  data () {
    return {
     drawer: ref(false),
    miniState: ref(true)
  }
},
computed: {
    todaysDate() {
    let timeStamp = Date.now()
    return date.formatDate(timeStamp, 'dddd, D. MMMM YYYY')
  }
}
}


</script>


